# Import

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key from our config.py file
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Puerto Ayora,-0.7393,-90.3518,82.40,78,20,11.50,EC,2021-03-28 19:22:57
1,1,Vaini,-21.2000,-175.2000,78.80,89,75,9.22,TO,2021-03-28 19:24:15
2,2,Marapanim,-0.7175,-47.6997,80.74,83,99,6.06,BR,2021-03-28 19:24:20
3,3,Busselton,-33.6500,115.3333,55.00,94,0,6.29,AU,2021-03-28 19:24:20
4,4,Pitimbu,-7.4706,-34.8086,84.20,70,75,9.22,BR,2021-03-28 19:24:21
...,...,...,...,...,...,...,...,...,...,...
533,533,Sembe,1.6481,14.5806,76.96,73,57,2.30,CG,2021-03-28 19:26:35
534,534,Rio Gallegos,-51.6226,-69.2181,60.80,25,0,12.66,AR,2021-03-28 19:23:42
535,535,Subirana,15.2000,-87.4500,89.60,51,40,9.22,HN,2021-03-28 19:26:35
536,536,Antigonish,45.6169,-61.9986,35.01,80,100,14.00,CA,2021-03-28 19:26:35
537,537,Pando,-34.7167,-55.9500,73.40,68,40,8.05,UY,2021-03-28 19:26:36

In [3]:
# One caveat to using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number. 
# Let's check the data types for the columns of our DataFrame

city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

# Google Maps API

In [4]:
# Google Maps API
    # Documentation: https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html
        # Convert latitudinal and longitudinal coordinates into locations on a map.
        # Create a heatmap based on the density or weight of a feature, such as an earthquake.
        # Identify the hotels or restaurants closest to a given location.
        # Determine the distance between two points.
    # Errors: https://developers.google.com/maps/documentation/javascript/error-messages?utm_source=maps_js&utm_medium=degraded&utm_campaign=keyless#api-key-and-billing-errors

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# the Google Heatmaps_layer API does not accept/plot tempature values below 0
# We need to create a loop that looks for the max of the tempature or 0 and defines that as the tempature to use

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# This can also be written as a list comprehension
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp]

# Heatmap of temperature (review url for documentation and syntax)
# Get the latitude and longitude from our DataFrame
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature from our DataFrame
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
# If you review the gmaps documentation, you may notice 
    # https://jupyter-gmaps.readthedocs.io/en/latest/api.html
    # there is a dissipation option for creating heatmaps that can be added to the gmaps.heat_layer() attribute.
    # The options for this are:
        # The default option for the dissipation is "True," so we need to set our "dissipation" to "False."
        # We can add max_intensity to make each measurement have a better gradient variance.
        # We can add point_radius to make each measurement radius larger.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Adjust maps figure positioning by defining the center and zoom so that we can easily see a "world view"
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer to our figure
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value using the input function
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Puerto Ayora,-0.7393,-90.3518,82.40,78,20,11.50,EC,2021-03-28 19:22:57
1,1,Vaini,-21.2000,-175.2000,78.80,89,75,9.22,TO,2021-03-28 19:24:15
2,2,Marapanim,-0.7175,-47.6997,80.74,83,99,6.06,BR,2021-03-28 19:24:20
4,4,Pitimbu,-7.4706,-34.8086,84.20,70,75,9.22,BR,2021-03-28 19:24:21
5,5,Sao Joao Da Barra,-21.6403,-41.0511,86.00,66,20,6.91,BR,2021-03-28 19:20:28
6,6,Moron,-34.6534,-58.6198,75.20,57,40,6.91,AR,2021-03-28 19:24:21
7,7,Kahului,20.8947,-156.4700,75.20,64,40,20.71,US,2021-03-28 19:24:21
8,8,Vila Velha,-20.3297,-40.2925,82.40,65,40,6.91,BR,2021-03-28 19:24:17
11,11,Mount Isa,-20.7333,139.5000,75.20,31,0,16.11,AU,2021-03-28 19:24:22
13,13,Haikou,20.0458,110.3417,75.20,94,0,6.71,CN,2021-03-28 19:24:23

In [12]:
preferred_cities_df.count()

City_ID       179
City          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
Country       179
Date          179
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

#Consider the following guidance:
    # Depending on the time of year and the seasons, you might have to adjust the minimum and maximum temperature to get enough cities.
    # It is a good idea to keep the number of cities to fewer than 200 to make it easier to plot the markers on the heatmap.
    # If you have some rows with null values, you'll need to drop them using the dropna() method at the end of your filtering statement when you are creating the new DataFrame.

                 City Country  Max Temp      Lat       Lng Hotel Name
0        Puerto Ayora      EC     82.40  -0.7393  -90.3518
1               Vaini      TO     78.80 -21.2000 -175.2000
2           Marapanim      BR     80.74  -0.7175  -47.6997
4             Pitimbu      BR     84.20  -7.4706  -34.8086
5   Sao Joao Da Barra      BR     86.00 -21.6403  -41.0511
6               Moron      AR     75.20 -34.6534  -58.6198
7             Kahului      US     75.20  20.8947 -156.4700
8          Vila Velha      BR     82.40 -20.3297  -40.2925
11          Mount Isa      AU     75.20 -20.7333  139.5000
13             Haikou      CN     75.20  20.0458  110.3417

# Google Places API

In [14]:
# We can use another API (Nearby Search requests) to populate near by hotels 
    # https://developers.google.com/maps/documentation/places/web-service/search#PlaceSearchRequests%0D%0A
# The Nearby Search request lets us perform these tasks:
    # Search for places within a specified area.
    # Refine the search using keywords and specifying the type of place we are searching for.
    # Use an API URL, where the output can be either XML or JSON format.
# Specific parameters include:
    # Our API key
    # A location, which will be the latitude and longitude
    # A radius for the search. The radius can be up to 50,000 meters or approximately 31 miles. 
        # This distance is much too great for finding hotels, so we'll keep our search to 5,000 meters.
    # If we use the rankby=distance for a parameter, 
        # we need to add one or more of the three parameters above. 
        # We won't use the rankby=distance because we will be search based on the radius from a given latitude and longitude.
# Here are the type of places we can return via this API
    # https://developers.google.com/maps/documentation/places/web-service/supported_types

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# We need to create a new DataFrame since the perferred cities DataFrame will change based on the user's specifications 
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0        Puerto Ayora      EC     82.40  -0.7393  -90.3518
1               Vaini      TO     78.80 -21.2000 -175.2000
2           Marapanim      BR     80.74  -0.7175  -47.6997
4             Pitimbu      BR     84.20  -7.4706  -34.8086
5   Sao Joao Da Barra      BR     86.00 -21.6403  -41.0511
6               Moron      AR     75.20 -34.6534  -58.6198
7             Kahului      US     75.20  20.8947 -156.4700
8          Vila Velha      BR     82.40 -20.3297  -40.2925
11          Mount Isa      AU     75.20 -20.7333  139.5000
13             Haikou      CN     75.20  20.0458  110.3417

In [22]:
# Recall from the request module: https://requests.kennethreitz.org/en/master/
#  we can add the parameters as a dictionary of strings, using the params keyword argument 
# i.e. requests.get('base URL', params=parameters)

# Set parameters to search for a hotel within a 5000 metres radius, type = lodging aka hotel, and use our API key
# This follows the paramaters syntax for the Neary By Requests API
# https://developers.google.com/maps/documentation/places/web-service/search#PlaceSearchRequests
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
# create a loop which provides the index and row in the DataFrame iterations (df.iterrows()
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,82.40,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1,Vaini,TO,78.80,-21.2000,-175.2000,Keleti Beach Resort
2,Marapanim,BR,80.74,-0.7175,-47.6997,Ecomangue Pousada
4,Pitimbu,BR,84.20,-7.4706,-34.8086,Reserva do Abiaí
5,Sao Joao Da Barra,BR,86.00,-21.6403,-41.0511,Pousada Porto De Canoas
...,...,...,...,...,...,...
526,Tekkali,IN,77.04,18.6167,84.2333,Trinath Gantayat
530,Ondjiva,AO,75.20,-17.0667,15.7333,SOS Motel
532,Porto Novo,BJ,82.40,6.4965,2.6036,Tour Eiffel Hotel Benin
533,Sembe,CG,76.96,1.6481,14.5806,
535,Subirana,HN,89.60,15.2000,-87.4500,"HOTEL ""LA ESTRELLA"""

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Adding Markers    
    # https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#markers-and-symbols

# First, the info_box_template variable is assigned to a multiline string using three quotes
# The text inside the multiline string is HTML code. HTML code is defined by the opening and closing the angular brackets
# The syntax is as follows 

#info_box_template = """ 
#<dl> = The <dl> tag is a description list (dl).
#<dt>Name</dt><dd>{column1}</dd> = The <dt> tag is a term or name in a description list that is nested under the <dl> tag
#<dt>Another name</dt><dd>{column2}</dd> = The <dd> tag is used to define the term or name or <dt> tag.
#</dl>
#"""

# in this code, the dt = Hotel Name and dd = {hotel name}
# then the next dt = City and dd = {city} and so on
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.

# first, We set the hotel_info equal to the info_box_content.
# In the list comprehension, info_box_template.format(**row) for index, row in hotel_df.iterrows(), 
    # we iterate through each "row" of the hotel_df DataFrame
    # then format the info_box_template with the data we set to populate the from each row. 
    # Remember, we are not using every row; 
        # we are only using the rows defined in the info_box_template, which are Hotel Name, City, Country, and Max Temp
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))